body {
    background-color: #F3F3F3;
    color: #333;
    max-width: 1300px;
    margin: 50px auto;
}

header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    letter-spacing: 0.3em;
}

h2 {
    color: #777;
}

h1>span {
    color: orangered;
    letter-spacing: 0;
    margin-right: 8px;
    padding: 0 4px;
    border: 1px solid orangered;
    display: inline-block;
}

section {
    text-align: center;
    margin: 250px auto;
    color: gray;
}

h3 {
    animation-delay: 0.5s;
    font-family: Courier New, Courier, monospace
}

footer {
    animation-delay: 1s;
}

footer a {
    color: gray;
    font-family: Courier New, Courier, monospace
}

footer .left {
    text-align: left;
    width: 50%;
    float: left;
}

footer .right {
    text-align: right;
    width: 50%;
    float: right;
}